<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div align="right">
  <input type="checkbox" [(ngModel)]="visible" class="check">
  <label class="ingresar" for="">INGRESAR</label>
</div>

<div *ngIf="visible" class="ingreso" align=center>
  <h2 class="titulo">INGRESO</h2>
  <input type="text" placeholder="Nombre" [(ngModel)]="nombre">
  <input type="text" placeholder="Mail" [(ngModel)]="mail">
  <select [(ngModel)]="sexo" placeholder="sexo">
    <option value="M">Hombre</option>
    <option value="F">Mujer</option>
  </select>
  <input type="text" placeholder="Password" [(ngModel)]="password">

  <!--<input type="file" (change)="onChange($event)" />-->

  <button (click)="agregar()" class="btn btn-success">Agregar</button>
</div>

<div class="container">
  <h2 class="titulo">ABM USUARIOS</h2>
  <br>

  <div class="table-responsive">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Mail</th>
          <th>Sexo</th>
          <th>Foto</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody *ngFor="let aux of datos | async">

        <tr *ngIf="aux.sexo=='F'" class="mujer">
          <td>{{aux.nombre}}</td>
          <td> {{aux.mail}}</td>
          <td> {{aux.sexo}}</td>
          <td>
            <img src="{{aux.ruta}}" alt="" height="64" width="64">
          </td>
          <td>
            <button (click)="eliminar(aux.id)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>

        <tr *ngIf="aux.sexo=='M'" class="hombre">
          <td>{{aux.nombre}}</td>
          <td> {{aux.mail}}</td>
          <td> {{aux.sexo}}</td>
          <td>
            <img src="{{aux.ruta}}" alt="" height="64" width="64">
          </td>
          <td>
            <button (click)="eliminar(aux.id)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>